@import "./nav.css";
@import "./footer.css";
@import "./breadcrumb.css";

.select-container {
  float: left;
  text-align: center;
  font-family: SVN-Gilroy;
}
.select-container button {
  display: block;
  margin-top: 20px;
  border: 1px solid #000000;
  background: #316f48;
  color: #ffffff;
  border-radius: 5px;
  width: 200px;
  height: 37px;
}

.select-container button:hover {
  background: #00ff00;
}
