* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
.nav {
  padding: 10px 10vw;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #ffffff;
}

.brand-logo {
  height: 60px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.search {
  padding-top: 20px;
  width: 542px;
  display: flex;
}

.nav-items a {
  margin-left: 30px;
}

.nav-items a img {
  width: 30px;
}

.link-container {
  width: 100%;
  display: flex;
  list-style: none;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #000000;
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
  font-weight: boild;
}

.link-items {
  color: #000000;
}

.btn-login-container {
  padding-left: 100px;
}
.btn-login {
  background-color: #235135;
  border: none;
  border-radius: 40px;
  color: #ffffff;
  padding: 6px 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.btn-login:hover {
  background-color: #00ff00;
}
